body{
    display:flex;
    flex-direction:column;
    font-family: Helvetica, sans-serif;
    height: 100%;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    align-items: center;
}
.header-intro{
    display: flex; 
    flex-direction: column;
    background-color: #1F2937;
}
.header, .footer{
    color: white;
    display:flex;
    text-align:center;
    justify-content: space-between;
}
.header{
    margin:auto;
    width: 60%;
    padding-top:8px;
}
.header span{
    align-self: center;
    font-size: 24px;
    font-weight: bold;
}
ul{
    display: flex;
    gap: 16px;
}
li{
    list-style-type:none;
    font-size: 16px;
}
.intro{
    color: white;
    display: flex;
    flex-direction: row;
    width: 60%;
    padding-top: 30px;
    padding-bottom: 60px;
    margin:auto;
}
.intro h1, .intro p{
    margin: 0px;
    flex: 1;
}
.intro h1{
    font-weight: bold;
    padding-bottom: 12px;
}
.intro-content{
    align-self: center;
}
.lorem{
    display: flex;
    justify-content: end;
}
.lorem img{
    width: 75%;
    border-radius: 25px;
}
button{
    background-color: #3882F6;
    text-align: center;
    color:white;
    font-weight: bold;
    border-radius: 12px;
}
.intro-content button{
    font-size: 16px;
    margin: 12px 0px;
    padding:12px 20px;
    border: none;
}
.footer{
    margin-top:auto;
    flex-direction: column;
    width: 100%;
    background-color: #1F2937;
    padding: 24px;
}
.info-container{
    display: flex;
    justify-content: center;
    gap: 24px;
}
.info-main{
    width: 100%;
    background-color: #bcd8ff;
    padding-bottom: 21.440px;
}
.info-main h1{
    text-align: center;
    font-weight: bold;
}
.info-container.card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.card p{
    text-align: center;
    margin: 0;
    padding: 0;
    font-style: italic;
}
.image-filler{
    border-radius: 25px;
    height: 150px;
    align-self: center;
    background-color: #1F2937;
}
.info-container.card,
.image-filler
{
    width: 150px;
}
.quote{
    display: flex;
    flex-direction: column;
    background-color: white;
}
.quote p{
    display: flex;
    width: 60%;
    margin: 0 auto;
    padding-top: 50px;
    font-style: italic;
    font-size: 36px;
    font-weight: lighter;
}
/*TODO- Figure out why font-weight not affect p*/
.quote-name{
    width: 60%;
    margin: 0 auto;
    font-weight: bold;
    font-size: 32px;
    text-align: end;
    padding-bottom: 36px;
}
.sign-up{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 80px 0;
    background-color: #bcd8ff;
}
.sign-up-container{
    border-radius: 25px;
    display: flex;
    background-color: #3882F6;
    padding: 24px;
}
.sign-up-container.content{
    display: flex;
    flex-direction: column;
    color:white;
    justify-content: center;
}
.sign-up-container .sign-up-btn{
    border-style: solid;
    border-color: white;
    border-width: 2px;
    padding: 12px 40px;
    align-self: center;
}
.content h1{
    margin:0;
    margin-bottom: 12px;
}