body{
    display:flex;
    flex-direction:column;
    font-family: Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    align-items: center;
}
.header-intro{
    background-color: #1F2937;
}
.header{
    color: white;
    display:flex;
    flex-wrap:wrap;
    text-align:center;
    margin:auto;
    justify-content: space-between;    
    width: 60%;
}
span{
    align-self: center;
    font-size: 24px;
    font-weight: bold;
}
ul{
    display: flex;
    gap: 16px;
}
li{
    list-style-type:none;
    font-size: 16px;
}
.intro{
    color: white;
    display: flex;
    flex-direction: row;
    width: 60%;
    padding: 24px;
    margin:auto;
}
.intro h1, .intro p{
    margin: 0px;
    flex: 1;
}
.intro h1{
    font-weight: bold;
    padding-bottom: 12px;
}
.intro-content{
    align-self: center;
}
.lorem{
    display: flex;
    justify-content: end;
}
.lorem img{
    width: 75%;
}